.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.nav.dark{
  background-color: #21222A;
}

.nav-title {
  display: flex;
}

.nav-title > h3 {
  padding-left: 5px;
  color: rgba(0, 216, 255, 1);
}

.nav-logo {
  width: 40px;
}
  /* navbar ===========>> toggler <<========== */
.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler-slider {
  height: 13px;
  width: 25px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.nav.dark .toggler-slider {
  border-color: white;
  background-color: #F5F5F5;
}

.nav.dark .toggler-slider {
  justify-content: flex-end;
}

.toggle-slider-circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.nav.dark .toggle-slider-circle {
  background-color: black;
}

.toggler-light {
  color: #2B283A;
}

.nav.dark .toggler-light {
  color: #918E9B;
}
.toggler-dark {
  color: #D5D4D8;
}

.nav.dark .toggler-dark {
  color: #FFFFFF;
}

/* main section */

.main-container {
  padding: 57px 27px;
  background-image: url("./assets/react-icon-light.png");
  background-repeat: no-repeat;
  background-position: right center;
  flex: 1 1 auto;
  color: #2B283A;
}

.main-container.dark {
  background-image: url("./assets/react-icon-dark.png"); 
  background-color: #282D35;
  color: white;    
}

.main-container > h1 {
  letter-spacing: -0.05em;
}

.main-container > ul > li {
  padding: 10px 0 10px 0;
  font-weight: 500;
}

.main-container > ul > li::marker {
  color: #61DAFB;
  font-size: 1.4em;
}